.ratingList {
  display: flex;
  flex-direction: column;
}

.ratings {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50% !important;
  float: left !important;
  /* padding-left: 8px !important; */
  padding-right: 8px !important;
  min-height: 1px !important;
  position: relative !important;
}