.emptyStar {
  position: relative;
  width: 25px;
  height: 25px;
}

.fullStar {
  position: relative;
  width: 25px;
  height: 25px;
}

.halfStar {
  position: absolute;
  width: 12.5px;
  height: 25px;
  top: -12;
  left: 12;
  z-index: 1;
}