.emptyStar {
  position: relative;
  width: 16px;
  height: 16px;
}

.fullStar {
  position: relative;
  width: 16px;
  height: 16px;
}

.halfStar {
  position: absolute;
  width: 8px;
  height: 16px;
  top: -12;
  left: 12;
  z-index: 1;
}

.category {
  display: flex
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  width: 100%
}