.review {
  /* position: relative; */
}

.postDetail {
  display: flex;
  /* position: absolute;
  left: 30px;
  margin-left: 16px;
  bottom: 30px; */
}

.profilePic {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}

.user {
  font-size: 15px;
  font-weight: 900;
}

.readMore {
  color: #008489!important;
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit; 
  cursor: pointer;
}

.readMoreHover {
  color: #008489!important;
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit; 
  cursor: pointer;
  border-bottom:1px solid #008489;
}