.review {
  /* position: relative; */
}

.postDetail {
  display: flex;
}

.profilePic {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 16px;
}

.user {
  font-size: 15px;
  font-weight: 900;
}

.text {
  margin-top: 16px;
}

.readMore {
  color: #008489!important;
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit; 
  cursor: pointer;
}

.readMore:hover{
  text-decoration: underline;
}

.border {
  margin-bottom: 24px;
  margin-top: 24px;
}

.borderLine {
  border-bottom-color: rgb(235, 235, 235);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}